@charset "UTF-8";
@font-face {
  font-family: "Heavitas";
  src: url(../../fonts/Heavitas.woff) format("woff"), url(../../fonts/Heavitas.ttf) format("true-type"), url(../../fonts/Heavitas.eot) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans100";
  src: url(../../fonts/MuseoSans100.woff) format("woff"), url(../../fonts/MuseoSans100.ttf) format("true-type"), url(../../fonts/MuseoSans100.eot) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Font";
  src: url(../../fonts/fontawesome-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background: #282828;
  font-family: "Roboto Slab", serif;
  color: #282828;
  font-weight: 300;
  font-size: 1vh;
}

html,
body {
  height: 100%;
  width: 100%;
}

.fa {
  font-family: "Font";
  font-size: 1.5rem !important;
}

.information {
  background: #282828;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 0;
  color: #282828;
}

h2 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-size: calc(1.5rem + 0.1vw);
  margin-bottom: 0;
  color: #5f4804;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
  margin-top: -6%;
}

h3::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../../img/phone.png);
  opacity: 0.5;
  width: 10%;
  height: calc(1.7rem + 0.2vw);
  margin-right: 5%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: top !important;
}

h4 {
  color: #dedede;
  font-weight: 100;
  font-size: 1vw;
  text-transform: uppercase;
  padding-top: 20px;
}

.link-information {
  font-size: calc(1.5rem - 0.1vw);
  word-break: break-all;
  color: #000;
}

.link-information:hover {
  text-decoration: none !important;
  color: #5f4804;
}

@media (min-width: 1366px) {
  main {
    -webkit-box-shadow: 0px 0px 23px 0px white;
            box-shadow: 0px 0px 23px 0px white;
  }
}

/*---------- MAIN --- НАЧАЛО ----------*/
main {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

/*---------- MAIN --- КОНЕЦ ----------*/
@media (max-width: 768px) {
  main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.sidebar .container {
  display: none;
}

.myfoto {
  position: relative;
  background: #282828;
}

.myfoto img {
  max-width: 100%;
  width: 100%;
  height: 50%;
  border-radius: 0px 0px 40px 0px;
  background: #282828;
}

.myfoto .background {
  background: rgba(231, 175, 12, 0.5);
  border-radius: 0px 0px 40px 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.position {
  font-size: 2rem;
  color: #5b4504;
  padding-bottom: 25px;
  margin-bottom: 0;
}

.name-position {
  padding: 20px 40px 40px 20px;
  background: #ffc20e;
  border-radius: 0px 40px 0px 0px;
  margin-bottom: -1px;
}

.name-position hr {
  background: rgba(40, 40, 40, 0.2);
  width: 100%;
  height: 1px;
  border: none;
}

.name-position hr:after {
  content: "";
  width: 15%;
  height: 1px;
  display: block;
  background: #282828;
}

.information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 10% auto 5%;
      grid-template-rows: 10% auto 5%;
}

/*------------Header-start-------------*/
header {
  height: 200px;
}

.container-text {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24% 24% 24% 24%;
      grid-template-columns: 24% 24% 24% 24%;
  -ms-grid-rows: 24% 24% 24% 24%;
      grid-template-rows: 24% 24% 24% 24%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-text img {
  height: 100%;
  width: 100%;
  padding-right: 10px;
}

.container-text img:nth-of-type(4) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  width: 100%;
}

.container-text img:nth-of-type(5) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.text-container-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 100%;
}

.text-container-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

/*------------Header-end-------------*/
.main-information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (max-width: 992px) {
  .my_work-container-quantity {
    letter-spacing: inherit;
  }
  .right-border {
    height: 75%;
    top: 10%;
  }
}

@media (max-width: 768px) {
  header {
    height: 100%;
  }
}

.container-header {
  width: 50%;
  height: auto;
  background: #ffc20e;
  z-index: 2;
  padding-bottom: 20px;
}

.container-header .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 40px;
  height: 40px;
  background: #ffc20e;
  border-radius: 50%;
  display: none;
}

.container-header .btn-close:before {
  content: "";
  position: absolute;
  display: block;
  top: -20px;
  right: -20px;
  width: 90px;
  height: 80px;
}

.container-header .btn-close .icon-item {
  display: block;
  width: 23px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  right: 9px;
}

.container-header .btn-close .icon-item:nth-child(2) {
  top: 19px;
}

.container-header .btn-close .icon-item:nth-child(3) {
  top: 25px;
}

.container-header a {
  color: #fff;
}

.container-header .logo {
  cursor: pointer;
  position: relative;
  display: block;
  height: 80px;
  background: #ffc20e;
}

.container-header .logo .box-icon-logo {
  position: absolute;
  top: 30px;
  left: 14px;
  right: 14px;
  height: 22px;
  width: 42px;
}

.container-header .logo .box-icon-logo .item-logo {
  display: block;
  height: 8px;
  background-color: #fff;
  float: right;
}

.container-header .logo .box-icon-logo .item-logo:nth-child(1) {
  width: 19px;
}

.container-header .logo .box-icon-logo .item-logo:nth-child(2) {
  width: 32px;
}

.container-header .logo .box-icon-logo .item-logo:nth-child(3) {
  width: 42px;
}

.container-header .menu-item {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 70px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container-header .menu-item .icon {
  fill: #878789;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container-header .menu-item .menu-text {
  position: absolute;
  top: 0;
  left: -300px;
  height: 60px;
  width: 170px;
  background: #ffc20e;
  font-size: 0.8rem;
  text-align: center;
  line-height: 70px;
  color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container-header .menu-item:hover {
  background: #282828;
}

.container-header .menu-item:hover .fa {
  color: #ffc20e;
}

.container-header .menu-item:hover .icon {
  fill: #fff;
}

.container-header .menu-item:hover .menu-text {
  color: #282828;
  left: 48px;
}

.container-header .menu-item:focus {
  color: #282828;
}

.container-header .item.active .menu-item {
  background: #282828;
}

.container-header .item.active .menu-item .icon {
  fill: #fff;
}

.icon-info {
  width: 24px;
  height: 24px;
}

.icon-fly {
  width: 22px;
  height: 21px;
}

.icon-man {
  width: 21px;
  height: 22px;
}

.icon-star {
  width: 24px;
  height: 23px;
}

.icon-doc-menu {
  width: 28px;
  height: 19px;
}

.icon-email-menu {
  width: 27px;
  height: 21px;
}

.rabbit {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    width: 50%;
  }
  .sidebar .container {
    width: 60%;
  }
  .container-header .menu-item:hover .menu-text {
    font-size: 1.5rem;
    left: 100% !important;
    width: 80vw !important;
  }
  .menu-text-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-text-flex .position {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-text-flex .position:before {
    content: "/";
    font-size: 2rem;
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #5b4504;
  }
}

/*------------Footer-start-------------*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_me-link {
  font-size: calc(5rem + 0.5vw);
  opacity: 0.15;
  font-family: "Heavitas", sans-serif;
  font-weight: 400;
  color: #424242;
  text-transform: uppercase;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.about_me-link:hover {
  text-decoration: none;
  opacity: 0.5;
  color: #ffc20e;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

/*------------Footer-end-------------*/
.about-me {
  padding: 0 50px;
}

.about-me-tittle {
  color: #ffc20e;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.about-me-tittle span {
  font-weight: 600;
}

.open-text,
.open-link {
  color: #dedede;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  font-weight: 100;
}

.open-text:hover,
.open-link:hover {
  color: #dedede;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  font-weight: 100;
  text-decoration: none;
}

@media (max-width: 768px) {
  .about-me {
    margin: 0 0 0 13%;
  }
}

.expertise {
  padding: 0 50px;
}

.skills-bar-container {
  position: relative;
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 0;
  padding-left: 0;
  list-style: none;
}

.skills-bar-container li {
  position: relative;
  width: 25%;
  padding: 5px;
  height: 150px;
}

.skills-bar-container li .progressbar-title {
  color: #fff;
}

.skills-bar-container li .progressbar-title .percent {
  opacity: 0.5;
  color: #ffc20e;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 100;
  font-size: 3rem;
}

.skills-bar-container li .progressbar-title {
  height: auto;
}

.skills-bar-container li .bar-container {
  background: #121212;
  position: relative;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  display: block;
}

.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.skills-bar-container li .bar-container #progress-html {
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.skills-bar-container li .bar-container #progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.skills-bar-container li .bar-container #progress-bootstrap {
  -webkit-animation-name: progress-bootstrap;
  animation-name: progress-bootstrap;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.skills-bar-container li .bar-container #progress-responsive {
  -webkit-animation-name: progress-responsive;
  animation-name: progress-responsive;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.skills-bar-container li .bar-container #progress-photoshop {
  -webkit-animation-name: progress-photoshop;
  animation-name: progress-photoshop;
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}

.skills-bar-container li .bar-container #progress-wordpress {
  -webkit-animation-name: progress-wordpress;
  animation-name: progress-wordpress;
  -webkit-animation-delay: 4.9s;
  animation-delay: 4.9s;
}

.progress-color {
  background-color: #9e7d1a;
}

@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes progress-bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

@-webkit-keyframes progress-responsive {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@-webkit-keyframes progress-photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@-webkit-keyframes progress-wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress-bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

@keyframes progress-responsive {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes progress-photoshop {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes progress-wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .expertise {
    margin-top: 20px;
  }
}

.hobbies {
  padding: 0 50px;
}

.hobbies-text {
  color: #ffc20e;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 100;
}

.hobbies-text span {
  font-weight: 400;
}

.right-border {
  position: absolute;
  border-left: 5px solid #ffc20e;
  border-top: 5px solid #ffc20e;
  border-bottom: 5px solid #ffc20e;
  width: 100%;
  max-width: 30%;
  height: 85%;
  top: 0;
  right: 0;
  z-index: 0;
}

.main-information-my_work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
}

.show-hide {
  color: #dedede;
  font-family: "Roboto Slab", serif;
  font-size: 1.3vw;
  font-weight: 100;
  border: none;
  outline: none;
  background: transparent;
}

.main-information-my_work {
  position: relative;
  z-index: 99;
  padding: 0 50px;
}

.my_work-container {
  width: 49%;
  background: #303030;
  padding: 30px 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my_work-container-quantity {
  opacity: 0.5;
  color: #ffc20e;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  margin-right: 20px;
  letter-spacing: -3.13px;
}

.my_work-container-text {
  opacity: 0.9;
  color: #dedede;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2.96px;
}

@media (max-width: 992px) {
  .my_work-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 20px;
  }
  .my_work-container-quantity {
    margin: 0;
  }
  .right-border {
    height: 100%;
  }
}

.sidebar-information {
  background: #ffc20e !important;
  padding-right: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 125px 125px 150px 125px 150px 200px 280px 150px;
      grid-template-rows: 125px 125px 150px 125px 150px 200px 280px 150px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.sidebar-information aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-information-left-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.sidebar-information-left-background:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/Shape_13_copy_6.png), #ffc20e;
  height: 95%;
  width: 15%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 8%;
}

.sidebar-information-left-background-container {
  width: 100%;
}

.email::before {
  content: "";
  background: url(../img/email.png);
}

.portfolio::before {
  content: "";
  background: url(../img/folder.png);
}

.birth::before {
  content: "";
  background: url(../img/birth.png);
}

.marritial-status::before {
  content: "";
  background: url(../img/marritial.png);
}

.address::before {
  content: "";
  background: url(../img/address.png);
}

.knowlege::before {
  content: "";
  background: url(../img/Knowlegle.png);
  background-position-y: -5px !important;
}

.languages {
  margin-bottom: 15px;
}

.languages::before {
  content: "";
  background: url(../img/language-1.png);
}

.sidebar-information-left-background-container:nth-of-type(1) .languages-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1rem;
}

.sidebar-information-left-background-container:nth-of-type(1) .languages-name::after {
  content: "";
  background: url(../img/language.png);
  width: 30%;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
}

.languages-name-english {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.languages-name-english::after {
  content: "";
  background: url(../img/css_sprites.png);
  width: 30%;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
}

.languages-padding {
  padding-bottom: 10px !important;
}

.social {
  margin-top: 50px;
  padding: 0 20px 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social a {
  color: #5b4504;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a:hover {
  text-decoration: none;
}

.facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.facebook::before {
  content: "";
  background: url(../img/facebok.png);
  width: 1.5vw;
  height: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.twitter::before {
  content: "";
  background: url(../img/twitter.png);
  width: 1.5vw;
  height: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.instagram::before {
  content: "";
  background: url(../img/insagram.png);
  width: 1.5vw;
  height: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.blockquote-container {
  padding: 0 20px 50px 20px;
  width: 85%;
  margin: 0 auto;
  color: #5b4504;
  font-family: "MuseoSans100", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 992px) {
  h3 {
    font-size: 1.2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h3:before {
    height: 17px;
  }
  .link-information {
    font-size: 1rem;
  }
  .sidebar-information {
    -ms-grid-rows: 100px 100px 100px 100px 100px 150px 200px 125px;
        grid-template-rows: 100px 100px 100px 100px 100px 150px 200px 125px;
    border-radius: 0 0 40px 0;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .position {
    font-size: 1.5rem !important;
  }
  .name-position {
    padding-right: 10px;
  }
  .sidebar .container {
    display: block;
  }
  .sidebar .my-information {
    display: none;
  }
  .information {
    -ms-grid-rows: 300px auto 5%;
        grid-template-rows: 300px auto 5%;
  }
}
/*# sourceMappingURL=style.css.map */