.sidebar {
  .container {
    display: none;
  }
}
.myfoto {
  position: relative;
  background: $nero;
  img {
    max-width: 100%;
    width: 100%;
    height: 50%;
    border-radius: 0px 0px 40px 0px;
    background: $nero;
  }
  .background {
    background: rgba(231, 175, 12, 0.5);
    border-radius: 0px 0px 40px 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.position {
  font-size: 2rem;
  color: $rawUmber;
  padding-bottom: 25px;
  margin-bottom: 0;
}
.name-position {
  padding: 20px 40px 40px 20px;
  background: $amber;
  border-radius: 0px 40px 0px 0px;
  margin-bottom: -1px;
  hr {
    background: rgba(40, 40, 40, 0.2);
    width: 100%;
    height: 1px;
    border: none;
    &:after {
      content: "";
      width: 15%;
      height: 1px;
      display: block;
      background: $nero;
    }
  }
}
