body {
  background: $nero;
  font-family: "Roboto Slab", serif;
  color: $nero;
  font-weight: 300;
  font-size: 1vh;
}
html,
body {
  height: 100%;
  width: 100%;
}
.fa {
  font-family: $font-famely-FontAwesome;
  font-size: 1.5rem !important;
}
.information {
  background: $nero;
}
h1 {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 0;
  color: $nero;
}
h2 {
  color: $white;
  font-size: 2rem;
  text-transform: uppercase;
}
h3 {
  font-size: calc(1.5rem + 0.1vw);
  margin-bottom: 0;
  color: $rawUmber04;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  margin-top: -6%;
  &::before {
    content: "";
    display: flex;
    background: url(../../img/phone.png);
    opacity: 0.5;
    width: 10%;
    height: calc(1.7rem + 0.2vw);
    margin-right: 5%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
  }
}
h4 {
  color: $gainsboro;
  font-weight: 100;
  font-size: 1vw;
  text-transform: uppercase;
  padding-top: 20px;
}
.link-information {
  font-size: calc(1.5rem - 0.1vw);
  word-break: break-all;
  color: $black;
  &:hover {
    text-decoration: none !important;
    color: $rawUmber04;
  }
}
@media (min-width: 1366px) {
  main {
    box-shadow: 0px 0px 23px 0px rgba(255, 255, 255, 1);
  }
}
@media (max-width: 992px) {
  h4 {
    font-size: 1rem;
  }
}
