@font-face {
  font-family: "Heavitas";
  src: url(../../fonts/Heavitas.woff) format("woff"),
    url(../../fonts/Heavitas.ttf) format("true-type"),
    url(../../fonts/Heavitas.eot) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans100";
  src: url(../../fonts/MuseoSans100.woff) format("woff"),
    url(../../fonts/MuseoSans100.ttf) format("true-type"),
    url(../../fonts/MuseoSans100.eot) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Font";
  src: url(../../fonts/fontawesome-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
