$charcoal: #424242;
$amber: #ffc20e;
$white: #fff;
$black: #000;
$rawUmber: #5b4504;
$gainsboro: #dedede;
$darkGoldenrod: #b2870a;
$nightRider: #303030;
$nero: #282828;
$black01: #010101;
$rawUmber04: #5f4804;
$rawUmber05: #6f5405;

$font-family-MuseoSans100: "MuseoSans100", sans-serif;
$font-family-Heavitas: "Heavitas", sans-serif;
$font-famely-FontAwesome: "Font";

$li-padding: 5px;

// colors
$background-color: #1a1a1a;
$progressbar-title-color: #fff;

$animation-delay: 0.7s;

.container {
  height: 100vh;
}
.container-header {
  width: 50%;
  height: auto;
  background: $amber;
  z-index: 2;
  padding-bottom: 20px;
}
.container-header .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 40px;
  height: 40px;
  background: $amber;
  border-radius: 50%;
  display: none;
}
.container-header .btn-close:before {
  content: "";
  position: absolute;
  display: block;
  top: -20px;
  right: -20px;
  width: 90px;
  height: 80px;
}
.container-header .btn-close .icon-item {
  display: block;
  width: 23px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  right: 9px;
}
.container-header .btn-close .icon-item:nth-child(2) {
  top: 19px;
}
.container-header .btn-close .icon-item:nth-child(3) {
  top: 25px;
}
.container-header a {
  color: #fff;
}
.container-header .logo {
  cursor: pointer;
  position: relative;
  display: block;
  height: 80px;
  background: $amber;
}
.container-header .logo .box-icon-logo {
  position: absolute;
  top: 30px;
  left: 14px;
  right: 14px;
  height: 22px;
  width: 42px;
}
.container-header .logo .box-icon-logo .item-logo {
  display: block;
  height: 8px;
  background-color: #fff;
  float: right;
}
.container-header .logo .box-icon-logo .item-logo:nth-child(1) {
  width: 19px;
}
.container-header .logo .box-icon-logo .item-logo:nth-child(2) {
  width: 32px;
}
.container-header .logo .box-icon-logo .item-logo:nth-child(3) {
  width: 42px;
}
.container-header .menu-item {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 70px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container-header .menu-item .icon {
  fill: #878789;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container-header .menu-item .menu-text {
  position: absolute;
  top: 0;
  left: -170px;
  height: 50px;
  width: 170px;
  background: $amber;
  font-size: 0.8rem;
  text-align: center;
  line-height: 70px;
  color: transparent;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container-header .menu-item:hover {
  background: $nero;
  .fa {
    color: $amber;
  }
}
.container-header .menu-item:hover .icon {
  fill: #fff;
}
.container-header .menu-item:hover .menu-text {
  color: $nero;
  left: 48px;
}
.container-header .menu-item:focus {
  color: $nero;
}
.container-header .item.active .menu-item {
  background: $nero;
}
.container-header .item.active .menu-item .icon {
  fill: #fff;
}

.icon-info {
  width: 24px;
  height: 24px;
}

.icon-fly {
  width: 22px;
  height: 21px;
}

.icon-man {
  width: 21px;
  height: 22px;
}

.icon-star {
  width: 24px;
  height: 23px;
}

.icon-doc-menu {
  width: 28px;
  height: 19px;
}

.icon-email-menu {
  width: 27px;
  height: 21px;
}

.rabbit {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}
@media (max-width: 768px) {
  .email {
    &::before {
      content: "";
      background: url(../img/email.png);
      width: 50%;
      height: 50%;
      left: 25%;
      right: 25%;
      top: 25%;
      bottom: 25%;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      position: absolute;
      z-index: 1000;
    }
  }
}
