$charcoal: #424242;
$amber: #ffc20e;
$white: #fff;
$black: #000;
$rawUmber: #5b4504;
$gainsboro: #dedede;
$darkGoldenrod: #b2870a;
$nightRider: #303030;
$nero: #282828;
$black01: #010101;
$rawUmber04: #5f4804;
$rawUmber05: #6f5405;

$font-family-MuseoSans100: "MuseoSans100", sans-serif;
$font-family-Heavitas: "Heavitas", sans-serif;
$font-famely-FontAwesome: "Font";

$li-padding: 5px;

// colors
$background-color: #1a1a1a;
$progressbar-title-color: #fff;

$animation-delay: 0.7s;
