.about-me {
  padding: 0 50px;
}
.about-me-tittle {
  color: $amber;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: 400;
  span {
    font-weight: 600;
  }
}
.open-text,
.open-link {
  color: $gainsboro;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  font-weight: 100;
  &:hover {
    color: $gainsboro;
    font-family: "Roboto Slab", serif;
    font-size: 1.2rem;
    font-weight: 100;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .about-me {
    margin: 0 0 0 13%;
  }
}
