.about-me {
  padding: 0 50px;
}
.about-me-tittle {
  color: $amber;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: 400;
  span {
    font-weight: 600;
  }
}
.about-me-text {
  color: $gainsboro;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  font-weight: 100;
}
.open-text,
.open-link {
  color: $gainsboro;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  font-weight: 100;
  &:hover {
    color: $gainsboro;
    font-family: "Roboto Slab", serif;
    font-size: 1.2rem;
    font-weight: 100;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .about-me {
    margin: 0 0 0 13%;
  }
}
@media (max-width: 568px) {
  .about-me {
    margin: 0 0 0 7%;
    padding-right: 10px;
    height: 440px;
  }
  .about-me-text {
    font-size: 0.8rem;
  }
  .about-me-tittle {
    font-size: calc(1rem - 0.2vh);
  }
  .open-text,
  .open-link {
    font-size: calc(0.8rem - 0.2vh);
  }
  .main-information {
    width: 100%;
    margin: 0;
  }
  h2 {
    font-size: calc(1.5rem - 0.2vh);
  }
}
